USE [master]
GO
/****** Object:  Database [DenemeDB]    Script Date: 16.06.2019 12:26:29 ******/
CREATE DATABASE [DenemeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DenemeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DenemeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DenemeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DenemeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DenemeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DenemeDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16.06.2019 12:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicis]    Script Date: 16.06.2019 12:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Il] [nvarchar](max) NOT NULL,
	[Ilce] [nvarchar](max) NOT NULL,
	[Tutar] [int] NOT NULL,
	[BorcluMu] [bit] NOT NULL,
	[Aciklama] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.Kullanicis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicis] ON 

INSERT [dbo].[Kullanicis] ([ID], [Ad], [Soyad], [Il], [Ilce], [Tutar], [BorcluMu], [Aciklama]) VALUES (1, N'Suat', N'Sevsin', N'adana', N'Seyhan', 100, 1, N'Deneme')
INSERT [dbo].[Kullanicis] ([ID], [Ad], [Soyad], [Il], [Ilce], [Tutar], [BorcluMu], [Aciklama]) VALUES (2, N'Murat', N'Genç', N'istanbul', N'Üsküdar', 200, 0, N'Deneme')
INSERT [dbo].[Kullanicis] ([ID], [Ad], [Soyad], [Il], [Ilce], [Tutar], [BorcluMu], [Aciklama]) VALUES (3, N'Merve', N'Yılmaz', N'ankara', N'Kızılcahamam', 500, 0, N'Deneme')
SET IDENTITY_INSERT [dbo].[Kullanicis] OFF
USE [master]
GO
